form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    align-content: center;

    label,
    input,
    textarea {
        min-width: 200px;
    }

    input,
    textarea,
    button {
        min-height: 30px;
        border-radius: 5px;
    }

    button {
        background-color: darkslategrey;
        color: white;
        width: 200px;
        align-self: center;

        &:hover {
            background-color: darkgray;
        }

        &:active {
            background-color: black;
        }
    }

    #nom,
    #prenom,
    #mail {
        width: 200px;
    }

    textarea {
        width: 500px;
    }
}

h1 {
    text-align: center;
}

textarea {
    height: 20%;
}