body {
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    align-content: center;

    label,
    input,
    textarea {
        min-width: 200px;
    }

    input,
    textarea,
    button {
        min-height: 30px;
        border-radius: 5px;
    }

    button {
        background-color: darkslategrey;
        color: white;
        width: 200px;
        align-self: center;

        &:hover {
            background-color: darkgray;
        }

        &:active {
            background-color: black;
        }
    }

    #nom,
    #prenom,
    #mail {
        width: 200px;
    }

    textarea {
        width: 500px;
    }

    label {
        color: aliceblue;
    }
}

h1 {
    text-align: center;
    color: aliceblue;
}

textarea {
    height: 20%;
}

p {
    color: aliceblue;
}